{% extends "./clubs/clubsbase.html" %}

{% block content %}
<!-- 
<h1>Testing</h1>
user: {{user}}<br/>
Google_user: {{GOOGLE_User}}<br/>
Google_auth_url: {{GOOGLE_Auth_Url}}<br/>
messages: {{messages}}<br/>
perms: {{perms}}<br/>
<h1>End Test</h1>
 -->
 
<h1>Import Clubs</h1>

Each line needs to be in the following csv format.
&lt;Club Name&gt;,&lt;Club Number&gt;,&lt;Area&gt;,&lt;Division&gt;,&lt;District&gt;

<form action="/clubs/doImportClubs/" method="post">
	<textarea rows"30" cols="80" name="csvClubData"></textarea>
	<br/>
	<input type="submit" value="Import Clubs" />
</form>
</body>
</html>
{% endblock %}
