{% extends "./clubs/clubsbase.html" %}

{% block content %}

<h1>Clubs Home</h1>

{% if not clubContext %}

{% else %}
	<br/>
	{% if clubContext.Type == 1 %}
		Import Completed with:<br>
		Clubs Added: {{ clubContext.Added }}<br>
		Clubs already Existing: {{ clubContext.Existing }}<br>
		Errors: {{ clubContext.Errors }}<br>
	{% endif %}
	<br/>
{% endif %}
<h2>Club List</h2>
<table>
<tr><td>Name</td><td>Number</td><td>Area</td><td>Division</td></tr>
{% if clubContext %}
	{% for nextClub in clubContext.ClubList %}
	<tr><td>{{nextClub.Name}}</td><td>{{nextClub.Number}}</td><td>{{nextClub.Area}}</td><td>{{nextClub.Division}}</td></tr>
	{% endfor %}
{% endif %}
</table>
{% endblock %}